# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore any built objs/binaries
bin/

# VC++ Project gunk
*.user
*.sdf
*.ncb
*.suo
*.opensdf
*.*.old
*.ipch
build/vc/ipch/
